/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Soft gray background */
}

/* Card styles */
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Increased shadow */
    text-align: center;
}

.card-login{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: auto;
padding: 20px;
border-radius: 10px;
background-color: #fff;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Increased shadow */
text-align: center;
display: flex;
align-items: center;
text-align: center;
margin-left: 20px;
}



.image-container {
flex: auto;
margin-right: 20px;
margin-left: 20px;
}

.links-container {
flex: 1 ;
text-align: right;
margin-left: 20px;
}



/* Form styles */
.form {
    text-align: center;
    margin-top: 20px;
}

.form p {
    font-size: 14px;
    color: #6c757d; /* Dim gray text color */
}

.form a {
    color: #0d6efd; /* Blue hyperlink color */
    text-decoration: none;
}

/* Input styles */
.input-box{
    width: 300px;
    height:50px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px; /* Increased spacing between inputs */
}

.input-group input {
    width: calc(100% - 24px); /* Adjusted input width */
    padding: 10px; /* Increased input padding */
    border: 1px solid #ced4da; /* Light gray border */
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #0d6efd; /* Blue border color on focus */
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 10px 20px; /* Increased button padding */
    border: none;
    border-radius: 5px;
    background-color: #0d6efd; /* Blue button background */
    color: #fff; /* White button text color */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form a.glow-text {
    color: #0d6efd; /* Blue hyperlink color */
    text-decoration: none;
    transition: text-shadow 0.5s ease; /* Smooth transition for glowing effect */
}

.form a.glow-text:hover {
    text-shadow: 0 0 10px #0d6efd, 0 0 20px #0d6efd, 0 0 30px #0d6efd; /* Glowing effect */
}
